extends ./layout.jade

block content

	h1 About

	p  Cognitive Head Hunter is a cognitive based system to designed to help both a candidate and a HR professional make a good match more quickly and more reliably using Watson to read and extract cognitive information from the both the candidates providing a better match between them, not only by analyzing keywords but also by understanding the concepts outlined within a resume or a job posting.

	h2 Watson Services used

	p Concept Insights - The Concept Insights service links documents that you provide with a pre-existing graph of concepts based on Wikipedia (e.g. 'Cognitive Systems', 'Solar Energy', etc.). Users of this service can also search for documents that are relevant to a concept or collection of concepts by exploring concepts that are explicitly contained in your queries or are implicitly referenced through related concepts. 
		a.learn-more(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/concept-insights.html", target='_blank') More about this service here.

	p Personality Insights - The Watson Personality Insights service uses linguistic analytics to extract a spectrum of cognitive and social characteristics from the text data that a person generates through blogs, tweets, forum posts, and more. 
		a.learn-more(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights.html", target='_blank') More about this service here.

	h2 Operating instructions

	p 
		a(href="https://vimeo.com/ibmwatson/review/130135189/c27aa6828b", target='_blank') Watch the live demo video here.

	
