//- index.jade
extends ./layout.jade

block specificJS
	script(type='text/javascript', src='/js/candidates.js')

block content
	div.row#candidates-page
		div.col-lg-12
			div.form-group.row.error(style='display: none;')
				h2 &nbsp;
				div.well
					p.errorMsg
			div.row
				div.col-lg-12.col-xs-12
					h2 
						span#total
					div.well
						div.row.loading.text-center(style='display:none;')
							h2 &nbsp;
							img(src='../images/watson.gif')
						ul#candidates-list
