//- head.jade
//- This file provides the HTML head part

head
  title NodeJS Starter Application
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="/stylesheets/style.css")

