//- index.jade
extends ./layout.jade

block content
	div.col-lg-12.col-md.12.col-xs.12.text-center(style='padding:10px;margin-top:30px;margin-bottom:10px;')
		h1 Welcome to Cognitive Head Hunter!
	div.col-lg-12.col-md.12.col-xs.12.text-center(style='padding:10px;margin-top:50px;margin-bottom:10px;')
		h2 Please, select below a option that better fits you:
		h3 I'm a ...
	div.col-lg-6.col-md.6.col-xs-6
		a#btn-candidate.btn.btn-default.btn-block.btn-lg(href='/analyze') Candidate
	div.col-lg-6.col-md.6.col-xs-6
		a#btn-hrAnalyst.btn.btn-default.btn-block.btn-lg(href='/manage') HR Analyst
