//- index.jade
extends ./layout.jade

block home-content

	div.jumbotron
		h1 Cognitive Head Hunter
		p.lead Helps a candidate to find the next job position using its own LinkedIn profile or custom text. 
		p.lead Cognitive Head Hunter is a cognitive application that uses Watson services to build an enhanced job openings knowledge based that will support candidates and HR professionals to find the best match between a candidate and a position.
		h3 Choose one role and try it out:
		p
			a#btn-candidate.btn.btn-default.btn-lg.btn-block(href='/analyze',role="button") Candidate looking for new job
		p
			a#btn-hrAnalyst.btn.btn-default.btn-lg.btn-block(href='/manage',role="button") HR Prossional matching jobs and candidates 

	script(type="text/javascript").
		$(document).ready(function () {
			$('#modal').hide();
		});
