//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-12.col-xs-12
      h2 Text Input
      p The Concept Insights API in this particular demo has built a body of knowledge around the biographies of IBM Researchers, not just using keyword searching.
      p You can query skills or topics relevant to a researcher's studies that aren't actually in any database.
      div.tags-container
      div.input-container
        input.form-control.query(name='query',
          placeholder=" Try 'DevOps' or 'Quantum Physics'",
          required='true', value='', autocomplete='off', data-provide='typeahead')
        div.suggestions.dropdown(data-toggle='dropdown')
          ul
    div.col-lg-12.col-xs-12
      h2 Results
      div
        div.errorMsg(style='display:none')
          p Internal Server Issue.  Try refreshing and see if it's working again.
        div.row.loading(style='display:none')
          div.col-lg-12.col-xs-12.text-center
            img(src='images/watson.gif')
        div.result(style='display:none')
