//- index.jade
extends ./layout.jade

block specificJS
	script(type='text/javascript', src='/js/candidatesearch.js')

block content
	div.row
		div.col-lg-12.message#error(style='display:none;')
			p.bg-danger#errorMsg
		div.col-lg-12.message#success(style='display:none;')
			p.bg-success#successMsg
		span#job_id.hidden=jobid
		div.row.text-center#loading(style='display:none;')
			h2 &nbsp;
			img(src='/images/watson.gif')
		div.row#concepts(style='display:none;')
			div.col-lg-12.col-sm-12
				h2#job-title
			div.col-lg-8.col-sm-12
				div#job-description(style='overflow:auto;height:200px;border:1px solid #ccc;background:#f2f2f2;margin-bottom:20px;')
			div.col-lg-4.col-sm-12
					div.well#concepts-list
			div.row.text-center#loading2(style='display:none;')
				h2 &nbsp;
				img(src='/images/watson.gif')
		div.row.text-center#candidates
	div.hidden
	div#template
	label
