.img-container img {
  width: 100%;
  height: auto;
}

.top-nav {
  background-color: #333333; //#404041;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.top-nav a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: white;
}
.top-nav a:hover {
  color: #E0E0E0;
}

.top-nav .right {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}
.top-nav .left {
  float: left;
}
.top-nav .fork:before {
  content: ' ';
  background: url('../images/fork-icon.svg') no-repeat;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
  display: inline-block;
  margin-right: 3px;
}
.header {
  padding-bottom:0px;
  margin-bottom: 0px;
}
.header h2 {
  font-weight: 400;
}
.header h3 {
  color: #00b2ef;
  font-weight: 400;
}
.avatar {
  padding-right: 0px;
}
.avatar img {
  margin-top: 9px;
}
.header a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: #404041;
  display: block;
  margin-left: 20px;
  margin-bottom: 3px;
}
.header a:hover {
  color: #777677;
}

.model_title {
    font-weight: bold;
    padding-left: 0px;
    padding-top: 5px;
}

.model_trait {
    padding-left: 10px;
}

.model_name {
    background-color: #ccc;
    margin-top: 10px;
}

.theader {
    background-color: #bbb;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 5px;
}
.col540px {
    height: 540px;
    overflow: auto;
}

.errorMsg {
    font-weight: bold;
    color: red;
}

.results > .row {
  clear: left;
}

#vizcontainer svg {
  min-width: 100px;
  width: 100%;
  height: 100%;
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .col540px {
        height: 100%;
    }
}

*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.line-separator{
	padding-top: 10px;
	height:1px;
	border-bottom: double #ddd;
	border-top: double #ddd;
}
.chh_logo{
	padding-top: 10px;
}

.chh_logo img {
	width: 200px
}

._8, ._9, ._10 {
	color: green;
	font-weight: bold;
}

._1, ._2, ._3, ._4, ._5, ._6, ._7 {
	color: red;
	font-weight: bold;
}

.content > div {
	margin: 3px;
}


.positionLine {
	line-height: 200%;
}

.positionLine:hover {
	background: #F1F1F2;
}

.message p {
  padding: 15px;
}

.circliful {
    position: relative;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #000;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
.circle {
  margin: 0 auto;
  display: inline-block;
  margin-right: 1em;
}
div#concepts .circle-info-half {
	line-height: 15px !important;
	bottom: -30px;
}
#chart {
	margin-top: 20px;
}
#chart div {
	width: 100%;
	background-color: #B2D7EA;
}

#chart div div {
	font-weight: bold;
	color: white;
	background: #30ACFF;
	margin-bottom: 4px;
	border-radius: 2px;
	height: 25px;
	white-space: nowrap;
	  padding: 4px;
	animation: grow-width-right 1s;
}
